

/*모바일+테블릿 동일 적용*/

@media screen and (max-width: 640px) {

  /*메인페이지 헤더*/
  .main_header{
    background-image: none;
  }

  .nav_top {
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .logo {
    margin-left: -15%;
    width: 3.5rem;
    height: 3.5rem;
    top: -5px;
  }

  .logo a {
    padding: .5rem;
    background: #cbcbcb;
  }

  /*모바일 메뉴*/
  .burger_bar {
    display: block;
  }

  .burger_bar .fa-align-justify{
    display: block;
    float: right;
    margin-right: 5%;
    margin-top: 4px;
    color: #e0685c;
    font-size: 2.5rem;
    text-align: right;
    position: relative;
  }


  .search_region_form,
  .gnb,
  .my_page_btn,
  .register_company_btn {
    display: none;
  }








  /*메인 컨테이너*/
  .section {
    padding: 1rem 0;
  }
  .after_repair_list,
  .management_tip_list,
  .contact_wrapper {
    width: 90%;
    margin: 0 auto;
  }

  /*주요공업사 리스트*/

  .featured_shop {
    width: 100%;
    top: 44px;
    padding-bottom: 2rem;

  }
  .shop_list {
    width: 25%;
  }
  .shop_list li {
    width: 90%;
    margin: 0 auto;
  }

  .shop_list li:nth-child(2),
  .shop_list li:nth-child(3),
  .shop_list li:nth-child(4) {
    display: none;
  }

  .carousel-pagination {
    bottom: 50px;
  }

  /*수리사례*/
  .dim_bg {
    display: none;
  }

  .after_repair_list li:nth-child(1),
  .after_repair_list li:nth-child(2),
  .after_repair_list li:nth-child(3),
  .after_repair_list li:nth-child(4) {
    width: 100%;
    margin-right: 0;
  }

  .after_repair_list li {
    margin-bottom: 4%;
  }

  .after_repair_list li a {
    padding-bottom: 30%;
  }


  /*차량 관리팁*/
  .management_tip_list li a {
    border: none;
    border-radius: 50%;
    background: #e0685c;
  }



  /*컨택트*/

  .map,
  .contact_info {
    width: 100%;
  }

  .map {
    height: 10rem;
  }

  .map iframe {
    height: auto;
  }

  .contact_info span {
    padding: .5rem;
    font-size: 1rem;
  }




  /*푸터*/
  .footer_link {
    margin-top: -1rem;
  }

  .footer_link li {
    width: 100%;
  }

  .footer_link li a {
    padding: .5rem 0;
    font-size: 1.2rem;
  }

  .footer_sns_list {
    width: 80%;
    margin: 0 auto;
  }
}
