html {
  font-size: 16px;
}
/*헤더 영역*/
.main_header{
  background-image: url(../images/k-033.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/*.nav_top {
  z-index: 100;
  background: rgba(44, 62, 80, 0.95);
  padding: .5rem 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}*/

.gnb {
  background: rgba(44, 62, 80, 0.9);
  padding: .5rem 0;
}

.main_menu {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main_menu li {
  width: 20%;
  text-align: center;
}

.main_menu li a {
  display: inline-block;
  width: 60%;
  padding: .5rem 0;
  text-decoration: none;
  color: #ecf0f1;
  font-size: .9rem;
  transition: all .3s ease-in-out;
  position: relative;
}
/* 이펙트 */
.main_menu li a::after {
  content: '';
  position: absolute;
  transition: all .5s ease-in-out;
  height: 3px;
  bottom: 0;
  left: 50%;
  right: 50%;
  background: #ecf0f1;
}
.main_menu li a:hover::after {
  right: 0;
  left: 0;
}

/* 로고 */
.logo {
  display: inline-block;
  margin-left: 10%;
  padding: .8rem;
  border: 1px solid #ECF0F1;
  color: #ECF0F1;
  text-align: center;
  font-size: 1rem;
}

/*.logo {*/
  /*position: absolute;*/
  /*top: 150px;*/
  /*left: 750px;*/
  /*border: 3px solid #E74C3C;
  padding: 0.5rem 0.5rem 0.1rem 0.5rem;*/
/*}*/

/*버튼*/
.my_page_btn,
.register_company_btn {
  display: inline-block;
  width: 5rem;
  padding: .4rem 0;
  float: right;
  text-align: center;
  text-decoration: none;
  color: #ecf0f1;
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: 20px;
  position: relative;
}
.my_page_btn:hover,
.register_company_btn:hover {
  color: #ecf0f1;
  border-color: #ecf0f1;
}
/*마이페이지 버튼*/
.my_page_btn {
  margin-right: 5%;
}
/*입점신청 버튼*/
.register_company_btn {
  margin-right: 1rem;
}
.my_page_btn::after,
.register_company_btn::after {
  content: '';
  position: absolute;
  transition: all .5s ease-in-out;
  height: 3px;
  bottom: 0;
  left: 50%;
  right: 50%;
  background: #ecf0f1;
}
.my_page_btn:hover::after,
.register_company_btn:hover::after {
  right: 0;
  left: 0;
}
/*검색폼*/
.search_region_form {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 8rem 0;
}
.search_region_form p {
  padding: 8rem 0 2rem 0;
  color: #ecf0f1;
  font-weight: 700;
  font-size: 1.5rem;
}
#search_bar {
  text-align: center;
  width: 70%;
  height: 3rem;
  padding-left: 2rem;
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 1.2rem;
  background: rgba(255, 255, 255, 0.9);
  cursor: alias;
}
.search_btn {
  width: 8%;
  height: 3rem;
  vertical-align: top;
  background: #E74C3C;
  color: #fff;
  border: none;
  font-size: 0.8rem;
  border :1px solid #E74C3C;
  border-radius: 0 5px 5px 0;
  outline: none;
}
.fa.fa-search {
  font-size: 1.4rem;
}
@media screen and (max-width: 760px) {
  html {
    font-size: 13px;
  }
}