/*전체 공통*/
*,
:after,
:before,
:hover {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
/*바디*/
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}
/*기본값 초기화*/
h1,h2,h3,p,ul,li,form,input{
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
/*clearfix*/
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
/*컨테이너*/
.main_container {
  background-image: url(../images/bg2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

/*전체 섹션 공통*/
.section {
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.section h2 {
  text-align: center;
  font-size: 1.9rem;
  font-weight: 900;
  color: #ECF0F1;
  padding: 2rem 0 1.5rem 0;
}

/*주요 공업사*/
.featured_shop {
  width: 100%;
}
.shop_list {
  width: 70%;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.shop_list li {
  width: 30%;
  border: none;
}
.shop_list li a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #ECF0F1;
}
.company_name,
.company_address {
   padding: .5rem;
   background-color: #2c3e50;
}
.company_img {
  width: 100%;
  overflow: hidden;
}
.company_img img {
  width: 100%;
  vertical-align: bottom;
  transition: all .5s ease-in-out;
}
.company_img img:hover {
  transform: scale(1.1);
}
.swiper_pagination {
  width: 100%;
  padding-bottom: 2rem;
  text-align: center;
}
.swiper_pagination_bullet {
  content: "";
  display: inline-block;
  width: 2.5rem;
  height: 6px;
  margin: 0 .5rem;
  background: #999;
  border-radius: 0 0 2px 2px;
  opacity: 1;
  cursor: pointer;
}
.bullet_active {
  background: #ECF0F1;
}

/*수리사례*/
.repair_content_1 {
  width: 70%;
  height: 250px;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  margin: 0 auto 2.5%;
}
.repair_content_2 {
  width: 70%;
  height: 250px;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  margin: 0 auto;
}
.small_box_1 {
  background-image: url(../images/k-020.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 31.3333%;
}
.big_box_1 {
  background-image: url(../images/k-022.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 65.6666%;
  margin: 0 0 0 3%;
}
.small_box_2 {
  background-image: url(../images/k-023.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 31.3333%;
  margin: 0 0 0 3%; 
}
.big_box_2 {
  background-image: url(../images/k-021.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 65.6666%;
}

/*차량관리 팁*/
.tip_content {
  width: 70%;
  height: 550px;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  margin: 0 auto;
}
.tip_content div {
  width: 31.3333%;
}
.content_1 {
  background: #fff;
  margin: 0 1.5% 1.5% 0;
}
.content_2 {
  background: #fff;
  margin: 0 1.5% 1.5% 1.5%;
}
.content_3 {
  background: #fff;
  margin: 0 0 1.5% 1.5%;
}
.content_4 {
  background: #fff;
  margin: 1.5% 1.5% 1.5% 0;
}
.content_5 {
  background: #fff;
  margin: 1.5% 1.5% 1.5% 1.5%;
}
.content_6 {
  background: #fff;
  margin: 1.5% 0 1.5% 1.5%;
}
.contact {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;

}
.contact span {
  color: #ECF0F1;
  font-size: 1.2rem;
}
.fa-map-marker, .fa-phone {
  color: #e74c3c;
}
.map {
  width: 100%;
  height: 350px;
  margin-top: 20px;
}

@media screen and (max-width: 760px) {

}