@keyframes runingCar {
  0% {left: -6rem;}
  85% {transform: rotate(10deg);}
  90% {transform: rotate(15deg);}
  95% {transform: rotate(20deg);}
  100% {left: 20%;}
}


/*헤더 영역*/
.main_header{
  background-image: url(../images/k-033.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/*네비게이션 탑*/
.nav_top {
  z-index: 100;
}

/* 로고 */
.logo {
  z-index: 100;
  width: 6rem;
  height: 6rem;
  position: absolute;
  top: 0;
  left: 0;
  animation-name: runingCar;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.logo a:hover {
  background: rgba(255, 255, 255, 0.9);
}

.logo a {
  display: block;
  width: 100%;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  transition: all .5s ease-in-out;
}

.logo a img {
  display: block;
  width: 100%;
  height: auto;
}

/*마이페이지 입점신청 링크*/
.my_page_btn,
.register_company_btn {
  width: 5rem;
  padding: 2rem 0 .5rem 0;
  float: right;
  text-align: center;
  text-decoration: none;
  color: #ecf0f1;
  font-size: 0.9rem;
  font-weight: 600;
  position: relative;
}
.my_page_btn:hover,
.register_company_btn:hover {
  color: #ecf0f1;
  border-color: #ecf0f1;
}

/*마이페이지 버튼*/
.my_page_btn {
  margin-right: 10%;
}
/*입점신청 버튼*/
.register_company_btn {
  margin-right: .5rem;
}


/*메인메뉴*/
.gnb {
  background: rgba(24, 24, 24, 0.4);
  padding: 2px 0;
}
/*스크롤 이벤트*/
.gnb_fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: rgba(24, 24, 24, 0.9)
}
.main_menu {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.main_menu li {
  width: 20%;
  text-align: center;
}
.main_menu li a {
  display: block;
  width: 100%;
  padding: .5rem 0;
  text-decoration: none;
  white-space: nowrap;
  color: #ecf0f1;
  font-size: .9rem;
  transition: all .3s ease-in-out;
  position: relative;
}
/*모바일*/
.burger_bar {
  display: none;
}

.mb_main_menu {
  display: none;
  background: rgba(46, 46, 46, 0.95);
  width: 100%;
  position: absolute;
  top: 44px;
}

.mb_main_menu li a{
  display: block;
  width: 100%;
  color: #ecf0f1;
  padding: .8rem 0;
  text-align: center;
  text-decoration: none;
  letter-spacing: .1rem;
}

.mb_main_menu li a:hover {
  background: #000;
  color: #fff;
}


/* 이펙트 */
.main_menu li a::after,
.my_page_btn::after,
.register_company_btn::after {
  content: '';
  position: absolute;
  transition: all .3s ease-in-out;
  height: 2px;
  bottom: 0;
  left: 50%;
  right: 50%;
  background: #ecf0f1;
}
.main_menu li a:hover::after,
.my_page_btn:hover::after,
.register_company_btn:hover::after {
  right: 15%;
  left: 15%;
}




/*검색폼*/
.search_region_form {
  width: 60%;
  margin: 0 auto;
  padding: 6rem 0;
}

.search_region_form p {
  text-align: center;
  padding: 3rem 0 1rem 0;
  color: #fff;
  font-size: 1.2rem;
}

#search_bar {
  width: 90%;
  height: 3rem;
  padding-left: 2rem;
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 1.2rem;
  background: rgba(255, 255, 255, 0.9);
  cursor: alias;
}

.search_btn {
  width: 10%;
  height: 3rem;
  vertical-align: top;
  background: #E74C3C;
  border: none;
  border :1px solid #E74C3C;
  border-radius: 0 5px 5px 0;
  outline: none;
}

.search_btn .fa-search {
  font-size: 1.2rem;
  color: #ecf0f1;
}
